<template>
  <section class="page page__home">
    <MainPost
      :title="mainPost.title"
      :description="mainPost.description"
      :photo="mainPost.photo"
      :date="mainPost.date"
      :link="mainPost.link"
    />

    <div class="wrapper">
      <MessageBox />

      <!-- Post List -->
        <section class="post-list">
          <h2 class="block-title">Votes</h2>
          <div class="is-flex flex-wrap">
            <Post v-for="(post, index) in posts"
              :key="index"
              :id="post.id"
              :type="index === 0 ? 'main' : 'normal'"
              :title="post.title"
              :description="post.description"
              :photo="post.photo"
              :date="post.date"
              :category="post.category"
            />
          </div>
        </section>
      <!-- .Post List -->

      <Banner />
    </div>
  </section>
</template>



<script>
  import data from '../config/data'
  import MainPost from '../components/MainPost'
  import MessageBox from '../components/MessageBox'
  import Post from '../components/Post'
  import Banner from '../components/Banner'

  export default {
    components: {MainPost, MessageBox, Post, Banner},
    data() {
      return {
        mainPost: data[0].posts[0],
        posts: data[0].posts.filter( (post, index) => index !== 0)
      }
    },
  }
</script>
