<template>
  <section class="page page__contact-us">
    <IntroPage :title="title" :description="description" />
  </section>
</template>

<script>
  import data from '../config/data'
  import IntroPage from '../components/IntroPage'

  export default {
    components: {IntroPage},
    
    data() {
      return {
        title: data[0].pages[0].past_trial.title,
        description: data[0].pages[0].past_trial.description
      }
    }
  }
</script>