<template>
  <div class="banner bg-gray is-relative">
    <div class="banner__bg is-absolute w-100 h-100"></div>
    <div class="banner__info is-relative z-index-1 w-100 is-flex flex-between flex-align-center">
      <p class="banner__description color-dark" v-text="text"></p>
      <button class="button button__dark button__big" v-text="button_text"></button>
    </div>
  </div>
</template>

<script>
  import data from '../config/data'

  export default {
    data () {
      return{
        text: data[0].banner.text,
        button_text: data[0].banner.button_text
      }
    }
  }
</script>

<style lang="scss" scoped>
  .banner{
    width: 100%;
    margin-bottom: 40px;
    padding: 20px 30px;
    &__bg{
      left: 0;
      top: 0;
      opacity: 0.2;
      background: url('../assets/img/posts/page_bg.jpg') no-repeat center / cover;
    }
    &__description{
      margin-bottom: 0;
      font-size: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    .banner{
      &__info{
        flex-direction: column;
      }
      &__description{
        margin-bottom: 20px;
        font-size: 26px;
      }
    }
  }
</style>