<template>
  <footer class="footer">
    <div class="wrapper is-flex flex-align-center flex-between">
      <div class="secondary-nav is-flex">
        <router-link 
          v-for="(item, index) in itemsMenu" 
          :key="index" 
          :to="item.path" 
          v-text="item.title" 
          tag="a" 
          class="secondary-nav__item">
        </router-link>
      </div>

      <div class="social is-flex flex-align-center">
        Follow Us
        <a class="social__item" href="/" target="_blank">
          <img src="../assets/img/facebook.svg" width="20" alt="Facebook" />
        </a>
        <a class="social__item" href="/" target="_blank">
          <img src="../assets/img/twitter.svg" width="23" alt="Twitter" />
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
  import data from '../config/data'

  export default {
    data() {
      return {
        itemsMenu: data[0].secondary_menu
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import '../assets/sass/colors';

  .footer{
    font-size: 14px;
    .wrapper{
      max-width: 1020px;
      padding: 20px 0;
      background-image: linear-gradient(to right, $dark2 20%, transparent 0%);
      background-position: top;
      background-size: 6px 1px;
      background-repeat: repeat-x;
    }
    .secondary-nav{
      &__item{
        color: $dark2;
        margin: 0 30px 0 0;
        text-decoration: none;
        &:hover{
          color: $dark;
        }
      }
    }
    .social{
      color: $dark2;
      &__item{
        margin: 0 0 0 20px;
      }
    }
  }

  @media screen and (max-width: 1040px) {
    .footer{
      .wrapper{
        padding: 20px 10px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .footer{
      .wrapper{
        flex-direction: column;
        .secondary-nav{
          margin-bottom: 40px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .footer{
      .wrapper{
        .secondary-nav{
          margin-bottom: 30px;
          flex-direction: column;
          display: flex;
          text-align: center;
          a{
            padding: 15px;
            margin: 0;
          }
        }
      }
    }
  }
</style>