<template>
  <header class="header is-fixed" :class="{'header--open' : stateMenu}">
    <div class="wrapper is-flex flex-between flex-align-center">
      <div class="header__logo color-white" @click="closeMenu">
        <router-link tag="div" to="/">Rule of Thumb.</router-link>
      </div>

      <div class="header__menu-button is-none is-absolute" :class="{'header__menu-button--active' : stateMenu}" @click="menu">
        <div class="header__menu-line"></div>
        <div class="header__menu-line"></div>
      </div>

      <nav class="header__menu is-flex flex-align-center">
        <router-link v-for="(item, index) in itemsMenu" :key="index" :to="item.path" @click.native="closeMenu" v-text="item.title" tag="div" class="header__menu-item"></router-link>
        <div class="header__menu-item header__menu-auth-item color-white">
          <router-link tag="a" to="/log-in" @click.native="closeMenu">Log In</router-link><span> / </span> 
          <router-link tag="a" to="/sign-up" @click.native="closeMenu">Sign Up</router-link>
        </div>
        <div class="header__menu-item search">
          <img src="../assets/img/search.svg" width="25" alt="search" />
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
  import data from '../config/data'

  export default {
    data() {
      return {
        stateMenu: false,
        itemsMenu: data[0].main_menu
      }
    },

    mounted () {
      if(localStorage.getItem('rot_vueLikedPosts') === null) localStorage.setItem('rot_vueLikedPosts', JSON.stringify([]))
      if(localStorage.getItem('rot_vueDislikedPosts') === null) localStorage.setItem('rot_vueDislikedPosts', JSON.stringify([]))
    },

    methods: {
      menu() {
        this.stateMenu = !this.stateMenu
      },

      closeMenu() {
        this.stateMenu = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../assets/sass/colors';

  .header{
    background-image: linear-gradient(to bottom, $dark, transparent);
    padding: 10px 0;
    width: 100%;
    z-index: 2;
    &__logo{
      font-size: 30px;
      cursor: pointer;
      a{
        font-weight: 500;
        color: $white;
      }
    }
    
    &__menu-button{
      display: none;
      width: 30px;
      z-index: 1;
      right: 10px;
      top: 30px;
      cursor: pointer;
      padding: 10px;
      box-sizing: initial;
      &:hover{
        .header__menu-line{
          &:last-of-type{
            width: 100%;
            margin-left: 0;
          }    
        }   
      }
    }
    &__menu-line{
      width: 100%;
      height: 2px;
      background: $white;
      position: relative;
      transition: all .2s ease-in-out;
      &:last-of-type{
        margin: 5px 0 0 6px;
        width: 80%;
      }
    }
    
    &__menu-item{
      padding: 30px;
      color: $white;
      font-weight: 600;
      cursor: pointer;
      a{
        color: $white;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .header{
      &__menu-item{
        padding: 30px 15px;
      }
    }
  }

  @media screen and (max-width: 680px) {
    .header{
      padding: 25px 0 0 0;
      &__logo{
        a{
          font-weight: 700;
          font-size: 25px;
        }
      }
      &__menu-button{
        display: block;
      }
      &__menu{
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        left: 0;
        top: 0;
        padding-top: 80px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        &:before,
        &:after{
          content: '';
          position: absolute;
          height: 100%;
          width: 0;
          left: 0;
          top: 0;
          right: auto;
          background: $green;
          opacity: 0;
          visibility: hidden;
          transition: all .2s ease-in-out;
        }
        &:after{
          right: 0;
          left: auto;
          background: $orange;
        }
      }
      &__menu-item{
        width: 100%;
        padding: 20px 15px;
        text-align: center;
        font-size: 25px;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        position: relative;
        z-index: 1;
        &.search{
          display: none;
        }
      }
      &__menu-auth-item{
        padding: 0;
        span{
          display: none;
        }
        a{
          display: block;
          padding: 20px 15px;
        }
      }

      &--open{
        .header__logo{
          z-index: 1;
        }
        .header__menu{
          opacity: 1;
          visibility: visible;
          &:before,
          &:after{
            width: 50%;
            opacity: 1;
            visibility: visible;
          }
          .header__menu-item{
            opacity: 1;
            visibility: visible;
          }
        }
        .header__menu-line{
          &:first-of-type{
            transform: rotate(45deg);
            top: 3px;
          }
          &:last-of-type{
            top: -3px;
            transform: rotate(-45deg);
            width: 100%;
            margin-left: 0 !important;
          }
        }
      }
    }
  }
</style>