<template>
  <section class="intro-page is-relative bg-dark">
    <div class="intro-page__bg is-absolute w-100 h-100"></div>
    <div class="wrapper is-relative color-white">
      <h1 class="intro-page__title" v-text="title"></h1>
      <p class="intro-page__description" v-text="description"></p>
    </div>
  </section>
</template>

<script>
  export default {
    props: ['title', 'description']
  }
</script>

<style lang="scss" scoped>
  .intro-page{
    padding: 180px 0 80px 0;
    margin-bottom: 40px;
    &__bg{
      background: url("../assets/img/posts/page_bg.jpg") no-repeat center / cover;
      left: 0;
      top: 0;
      opacity: 0.5;
    }
    &__title{
      font-size: 40px;
      margin-bottom: 10px;
    }
    &__description{
      font-size: 18px;
    }
  }
</style>