<template>
  <article class="main-article is-relative" :style="{'backgroundImage':`url(${postPhoto})`}">
    <div class="wrapper is-flex flex-align-center">
      <div class="is-relative">
        <div class="main-article__info is-relative color-white z-index-1">
          <div class="main-article__top-text">What's your opinion on</div>
          <h1 class="main-article__title" v-text="title + '?'"></h1>
          <p class="main-article__description" v-text="description"></p>
          <a class="main-article__link" :href="link" target="_blank" rel="noopener noreferrer">More information</a>
          <div class="main-article__veredict">
            <strong>What"s Your Verdict?</strong>
          </div>

          <div class="voting-bar is-flex w-100 is-absolute">
            <div class="voting-bar__button bg-green-op h-100 is-flex flex-justify-center">
              <div class="like h-100 w-100"></div>
            </div>
            <div class="voting-bar__button bg-orange-op h-100 is-flex flex-justify-center">
              <div class="dislike h-100 w-100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-article__closing-bar is-flex is-absolute">
      <div class="main-article__closing">CLOSING IN</div>
      <div class="main-article__date"><strong>22</strong> days</div>
    </div>
  </article>
</template>

<script>
  export default {
    props: ['title', 'description', 'link', 'photo'],

    data() {
      return {
        postPhoto : require(`../assets/img/posts/${this.photo}`)
      }
    }
  }
</script>

<style lang="scss">
  @import '../assets/sass/colors';

  .main-article{
    width: 100%;
    margin-bottom: 40px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    .wrapper{
      min-height: 100vh;
    }
    &__info{
      padding: 45px 45px 115px 45px;
      max-width: 520px;
      background: #2b2b2b7d;
    }
    &__top-text{
      margin-bottom: 5px;
    }
    &__title{
      font-size: 65px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    &__description{
      font-size: 22px;
      margin-bottom: 20px;
    }
    &__link{
      background: url('../assets/img/wikipedia.svg') no-repeat 0 center / 20px;
      padding-left: 30px;
      text-decoration: underline;
      color: $white;
      &:hover{
        text-decoration: none;
      }
    }
    &__veredict{
      margin-top: 40px;
      font-size: 20px;
    }
    &__closing-bar{
      width: 100%;
      bottom: 0;
    }
    &__closing{
      width: 30%;
      text-align: right;
      background: $dark_op;
      color: $white;
      padding: 10px;
      line-height: 46px;
    }
    &__date{
      width: 70%;
      text-align: left;
      color: $dark;
      padding: 10px;
      font-size: 40px;
      background: $gray_op;
      font-weight: 300;
    }
    .like,
    .dislike{
      background: url('../assets/img/like.svg') no-repeat center / 40px $green;
    }
    .dislike{
      background-color: $orange;
      transform: rotate(-180deg);
    }
  }

  // Voting Buttons
    .voting-bar{
      height: 80px;
      left: 0;
      bottom: 0;
      &__button{
        width: 50%;
        cursor: pointer;
        .like,
        .dislike{
          transition: all .2s ease-in-out;
          background-color: transparent;
        }
        &:hover{
          .like,
          .dislike{
            background-size: 38px;
          }
        }
      }
    }
  // .Voting Buttons

  @media screen and (max-width: 768px) {
    .main-article{
      &__info{
        max-width: initial;
        width: 100%;
      }
    } 
  }

  @media screen and (max-width: 480px) {
    .main-article{
      &__info{
        padding: 40px 40px 90px 40px;
      }
      &__title{
        font-size: 45px;
      }
      &__description{
        font-size: 16px;
      }
      &__closing{
        line-height: 34px;
        font-size: 14px;
      }
      &__date{
        font-size: 30px;
      }
    }

    .voting-bar{
      height: 60px;
      &__button{
        .like,
        .dislike{
          background-size: 30px;
        }
        &:hover{
          .like,
          .dislike{
            background-size: 28px;
          }
        }
      }
    }
  }
</style>