<template>
  <div class="message-box bg-gray is-flex flex-between flex-align-center">
    <div class="message-box__info is-flex flex-column">
      <p class="message-box__subtitle" v-text="subtitle"></p>
      <h2 class="message-box__title" v-text="title"></h2>
    </div>
    <p class="message-box__description color-dark" v-text="description"></p>
    <div class="message-box__close" @click="close"></div>
  </div>
</template>

<script>
  import data from '../config/data'

  export default {
    data () {
      return {
        title: data[0].message_box.title,
        subtitle: data[0].message_box.subtitle,
        description: data[0].message_box.description,
        isOpen: true
      }
    },

    methods: {
      close(){
        this.isOpen = !this.isOpen
      }
    }
  }
</script>

<style lang="scss">
  .message-box{
    margin-bottom: 40px;
    padding: 20px 30px;
    &__title{
      font-size: 38px;
      font-weight: 600;
      margin: 0;
    }
    &__subtitle{
      margin: 0;
      font-size: 22px;
    }
    &__description{
      margin: 0;
      width: calc(100% - 260px);
    }
    &__close{
      background: url('../assets/img/close.svg') no-repeat center / 15px;
      height: 40px;
      width: 20px;
      cursor: pointer;
      &:hover{
        background-size: 14px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .message-box{
      flex-direction: column;
      align-items: initial;
      position: relative;
      &__info{
        margin-bottom: 10px;
      }
      &__subtitle{
        font-size: 18px;
      }
      &__title{
        font-size: 30px;
      }
      &__description{
        width: 100%;
      }
      &__close{
        position: absolute;
        right: 15px;
        top: 15px;
        background-size: 12px;
      }
    }
  }
</style>