<template>
  <article class="post is-flex flex-end color-white is-relative" :style="{'backgroundImage':`url(${postPhoto})`}">
    <div v-if="likeAmount !== dislikeAmount" class="post__like-fixed" :class="likeAmount > dislikeAmount ? 'like' : 'dislike'"></div>

    <div class="post__info">
      <h2 class="post__title" v-text="title"></h2>
      <time class="post__date is-block">
        <strong v-text="date"></strong> in {{category}}
      </time>

      <p class="post__description" v-text="!thanks ? description : 'Thank you for voting!'"></p>

      <div class="is-flex">
        <div v-if="!voteState" class="is-flex">
          <div class="post__voting-button" :class="isLike ? 'post__voting-button--selected' : null" @click="selectVote(true)">
            <div class="like bg-green w-100 h-100"></div>
          </div>
          <div class="post__voting-button" :class="isLike === false ? 'post__voting-button--selected' : null" @click="selectVote(false)">
            <div class="dislike bg-orange w-100 h-100"></div>
          </div>
          
          <button class="button" @click="sendVote(id)">Vote now</button>
        </div>
        <button v-else class="button" @click="voteAgain()">Vote again</button>
      </div>
    </div>

    <div class="vote-results is-flex is-relative">
      <div class="is-flex flex-between w-100 z-index-1">
        <div class="vote-results__item is-flex flex-align-center">
          <div class="like"></div>
          <div class="vote-results__amount" v-text="`${likeAmount}%`"></div>
        </div>
        <div class="vote-results__item is-flex flex-align-center">
          <div class="vote-results__amount" v-text="`${dislikeAmount}%`"></div>
          <div class="dislike"></div>
        </div>
      </div>

      <div class="vote-results__progress is-flex flex-between w-100 h-100 is-absolute">
        <div class="vote-results__progress-like" :style="{'width': progressVotes('like')}"></div>
        <div class="vote-results__progress-dislike" :style="{'width': progressVotes('dislike')}"></div>
      </div>
    </div>
  </article>
</template>

<script>
  export default {
    props: ['id', 'photo', 'title', 'category', 'date', 'description', ''],

    data() {
      return {
        postPhoto : require(`../assets/img/posts/${this.photo}`),
        isLike: null,
        voteState: false,
        thanks: false,
        likeAmount: 0,
        dislikeAmount: 0
      }
    },

    mounted() {
      this.isVoted()
      this.countVotes()
    },

    methods: {
      selectVote(state) {
        this.isLike = state
      },

      sendVote(post_id) {
        let likedPosts = JSON.parse(localStorage.getItem('rot_vueLikedPosts'))
        let dislikedPosts = JSON.parse(localStorage.getItem('rot_vueDislikedPosts'))

        if( this.isLike !== null ){
          if( !this.isLike ){
            dislikedPosts = [...dislikedPosts, post_id]
            localStorage.removeItem('rot_vueDislikedPosts')
            localStorage.setItem('rot_vueDislikedPosts', JSON.stringify(dislikedPosts))
          }else{
            likedPosts = [...likedPosts, post_id] 
            localStorage.removeItem('rot_vueLikedPosts')
            localStorage.setItem('rot_vueLikedPosts', JSON.stringify(likedPosts))
          }

          this.voteState = true
          this.thanks = true
          
          this.countVotes()
        }
      },

      countVotes() {
        let likedPosts = JSON.parse(localStorage.getItem('rot_vueLikedPosts'))
        let dislikedPosts = JSON.parse(localStorage.getItem('rot_vueDislikedPosts'))
        
        let countLike = 0
        let countDislike = 0
        likedPosts.forEach( id => this.id === id ? countLike += 1 : null )
        dislikedPosts.forEach( id => this.id === id ? countDislike += 1 : null )
        
        if( countLike === 0 || countDislike === 0 ){
          if( countLike === 0 ) this.dislikeAmount = 100
          if( countDislike === 0 ) this.likeAmount = 100
        }if(countLike === 0 && countDislike === 0){
          this.likeAmount = 0
          this.dislikeAmount = 0
        }else{
          let totalVotes = countLike + countDislike
          let percLikes = (countLike / totalVotes) * 100
          let percDislikes = (countDislike / totalVotes) * 100
          
          this.likeAmount = Math.round(percLikes)
          this.dislikeAmount = Math.round(percDislikes)
        }
      },

      voteAgain() {
        this.voteState = false
        this.isLike = null
      },

      isVoted(){
        this.voteState = ((JSON.parse(localStorage.getItem('rot_vueLikedPosts')).indexOf(this.id) !== -1) || (JSON.parse(localStorage.getItem('rot_vueDislikedPosts')).indexOf(this.id) !== -1)) ? true : false
      },

      progressVotes(type) {
        if(type === 'like'){
          return `${this.likeAmount}%`
        }
        if(type === 'dislike'){
          return `${this.dislikeAmount}%`
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../assets/sass/colors';

  .post{
    padding: 50px;
    width: 100%;
    max-width: calc(50% - 20px);
    height: 550px;
    margin-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 70%;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to top, $dark, transparent);
    }
    &:nth-child(odd){
      margin-right: 40px;
    }
    &__info{
      z-index: 1;
      margin-bottom: 40px;
    }
    &__title{
      font-size: 42px;
      margin: 0;
    }
    &__description{
    margin-bottom: 30px; 
    }
    &__date{
      margin-bottom: 20px;
    }
    &__voting-button{
      height: 40px;
      width: 40px;
      margin-right: 10px;
      cursor: pointer;
      border: 2px solid transparent;
      &--selected{
        border-color: $white;
      }
      div{
        transition: all .2s ease-in-out;
      }
      &:hover{
        div{
          background-size: 18px;
        }
      }
    }
    .like,
    .dislike{
      background: url('../assets/img/like.svg') no-repeat center / 20px $green;
    }
    .dislike{
      background-color: $orange;
      transform: rotate(-180deg);
    }
    &__like-fixed{
      height: 36px;
      width: 36px;
      left: 0;
      bottom: 246px;
      position: absolute;
      z-index: 1;
    }
  }

  // Vote results
    .vote-results{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      &__item{
        height: 50px;
        transition: all 0.2s ease;
        .like,
        .dislike{
          height: 100%;
          width: 45px;
          background-size: 25px;
          background-color: transparent;
          transition: all 0.2s ease;
        }
      }
      &__progress{
        left: 0;
        top: 0;
        div{
          transition: all .2s ease;
        }
      }
      &__progress-like{
        background: $green_op;
      }
      &__progress-dislike{
        background: $orange_op;
      }
      &__amount{
        font-size: 28px;
        font-weight: 300;
      }
      &--main-post{
        .voting-bars__button{
          height: 80px;
          div{
            background-size: 40px;
          }
          &:hover{
            div{
              background-size: 38px;
            }
          }
        }
      }
    }
  // .Vote results

  @media screen and (max-width: 768px) {
    .post{
      max-width: initial;
      margin: 0 0 40px !important;
    }
  }

  @media screen and (max-width: 768px) {
    .post{
      &__title{
        font-size: 38px;
      }
    }
  }
</style>